===================================
Starburst Enterprise Presto License
===================================

As mentioned in the :doc:`overview </overview>` a license for Starburst
Enterprise Presto includes support and enables numerous features.

To purchase a license or obtain a free trial, please contact us at
`https://www.starburstdata.com/contact/
<https://www.starburstdata.com/contact/>`_ or `hello@starburstdata.com
<mailto:hello@starburstdata.com>`_.

After receiving a signed license file from Starburst, it needs to be stored on
all Presto nodes in your clusters.

By default the license file needs to be located within the Presto installation
directory in ``etc/starburstdata.license``.

Other paths and filenames can be used by setting the environment variable
``STARBURST_PRESTO_LICENSE``. For example, you can set it in a script:

.. code-block:: none

  export STARBURST_PRESTO_LICENSE=/etc/presto/presto.license

Users of the AWS CFT for Starburst Enterprise Presto can provide the license
information as part of the configuration in the AWS console.

Kubernetes users need to create a secret in the cluster with ``kubectl``:

.. code-block:: none

  kubectl create secret generic presto-license --from-file signed.license

The name of the secret needs to be configured with the ``licenseSecretName``
property in the :doc:`Kubernetes resource </kubernetes/presto_resource>`. The
filename of the secret is required to be ``signed.license``.
