===================================
Starburst Enterprise Presto License
===================================

As mentioned in the :doc:`overview </overview>` a license for Starburst
Enterprise Presto includes support and enables numerous features.

To purchase a license or obtain a free trial, please contact us at
`https://www.starburstdata.com/contact/
<https://www.starburstdata.com/contact/>`_ or `hello@starburstdata.com
<mailto:hello@starburstdata.com>`_.

After receiving a signed license file from Starburst, it needs to be stored on
all Presto nodes in your clusters. A path to the signed license file needs to be
added to ``etc/config.properties`` files:

.. code-block:: none

    license.path=/etc/presto/conf/signed.license
