==========================
Starburst Software License
==========================

Starburst Presto is free to download and use. There are additional enterprise features that 
require a license key to enable. Currently, these are:

* Apache Ranger integration
* Apache Sentry integration
* BigQuery connector

To purchase a license or obtain a free trial, please contact us at hello@starburstdata.com.

After receiving a signed license file from Starburst, it needs to be stored on Presto nodes.
A path to the signed license file needs to be added to ``etc/config.properties`` files:

.. code-block:: none

    license.path=/etc/presto/conf/signed.license
