html,
body {
  font-size: 14px;
}

body {
  font-family: "Outfit", "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

.md-typeset {
  font-size: 14px;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  font-family: "Outfit", "Roboto", sans-serif;
  color: black;
}

.md-typeset h1 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.md-typeset h2 {
  margin-top: 1.5rem;
  font-size: 16px;
  font-weight: 400;
}

.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  margin-top: 1rem;
  font-size: 14px;
  font-weight: 500;
}

.md-typeset a {
  color: #d54ccc;
}

.md-typeset a:active,
.md-typeset a:hover {
  color: #960185;
}

.md-tabs,
.md-sidebar {
  display: none !important;
}

main.md-main .md-main__inner {
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 2rem;
}

.md-content {
  margin: 0 !important;
}

.md-container {
  padding-top: 92px;
}

.md-header {
  height: 92px;
  background-color: white;
}

.md-content .md-content__inner {
  margin: 0 24px !important;
}

.md-typeset .admonition,
.md-typeset details {
  border-left-color: #d73dba;
}

.md-typeset code,
.md-typeset pre {
  font-size: 12px;
}

.md-typeset .codehilite,
.highlight {
  margin: 0 32px 0 0 !important;
  background-color: #eceef2;
}

.md-typeset .admonition > .admonition-title,
.md-typeset .admonition > summary,
.md-typeset details > .admonition-title,
.md-typeset details > summary {
  background: rgba(215, 61, 186, 0.09);
}

.md-typeset .admonition > .admonition-title:before,
.md-typeset .admonition > summary:before,
.md-typeset details > .admonition-title:before,
.md-typeset details > summary:before {
  color: #d73dba;
}

.md-typeset h1[id] .headerlink:focus,
.md-typeset h1[id]:hover .headerlink:hover,
.md-typeset h1[id]:target .headerlink,
.md-typeset h2[id] .headerlink:focus,
.md-typeset h2[id]:hover .headerlink:hover,
.md-typeset h2[id]:target .headerlink,
.md-typeset h3[id] .headerlink:focus,
.md-typeset h3[id]:hover .headerlink:hover,
.md-typeset h3[id]:target .headerlink,
.md-typeset h4[id] .headerlink:focus,
.md-typeset h4[id]:hover .headerlink:hover,
.md-typeset h4[id]:target .headerlink,
.md-typeset h5[id] .headerlink:focus,
.md-typeset h5[id]:hover .headerlink:hover,
.md-typeset h5[id]:target .headerlink,
.md-typeset h6[id] .headerlink:focus,
.md-typeset h6[id]:hover .headerlink:hover,
.md-typeset h6[id]:target .headerlink {
  color: #d54ccc;
}

.md-typeset pre {
  margin: 0 !important;
  white-space: pre-wrap;
}

a.copybtn {
  width: 24px;
  height: 24px;
  right: -32px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

a.copybtn:hover {
  cursor: pointer;
}

a.copybtn > img {
  display: none;
}

a.copybtn:before {
  content: "";
  background: url("galaxy-copy-icon.svg");
  width: 24px;
  height: 24px;
  display: block;
}

.o-tooltip--left:after {
  font-size: 1rem;
  transition: none;
}

.o-tooltip--left:hover:after {
  transition: none;
}

/* Hide header anchors */
.headerlink {
  display: none !important;
}
