/* Barlow Regular */
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Regular.woff2') format('woff2'),
         url('../fonts/Barlow-Regular.woff') format('woff'),
         url('../fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/* Barlow Italic */
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Italic.woff2') format('woff2'),
         url('../fonts/Barlow-Italic.woff') format('woff'),
         url('../fonts/Barlow-Italic.ttf') format('truetype');
    font-style: italic;
}
/* Barlow Semibold */
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-SemiBold.woff2') format('woff2'),
         url('../fonts/Barlow-SemiBold.woff') format('woff'),
         url('../fonts/Barlow-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
/* Barlow Semibold Italic */
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-SemiBoldItalic.woff2') format('woff2'),
         url('../fonts/Barlow-SemiBoldItalic.woff') format('woff'),
         url('../fonts/Barlow-SemiBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
/* Barlow Bold */
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Bold.woff2') format('woff2'),
         url('../fonts/Barlow-Bold.woff') format('woff'),
         url('../fonts/Barlow-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal
}
/* Montserrat Regular */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
         url('../fonts/Montserrat-Regular.woff') format('woff'),
         url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/* Montserrat Italic */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.woff2') format('woff2'),
         url('../fonts/Montserrat-Italic.woff') format('woff'),
         url('../fonts/Montserrat-Italic.ttf') format('truetype');
    font-style: italic;
}
/* Montserrat Semibold */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
         url('../fonts/Montserrat-SemiBold.woff') format('woff'),
         url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
/* Montserrat Semibold Italic */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
         url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
         url('../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-style: italic;
}
/* Montserrat Bold*/
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
         url('../fonts/Montserrat-Bold.woff') format('woff'),
         url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
/* Montserrat Bold Italic */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BoldItalic.woff2') format('woff2'),
         url('../fonts/Montserrat-BoldItalic.woff') format('woff');
    font-style: italic;
}