/* ---- SEARCH STYLES ---- */
/* ---- Styles used for Algolia Search implementation ---- */

.navheader .md-icon--search {
  display: none;
}

#algolia-search {
  width: 300px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 25%);
  border-radius: 2px;
  background-color: #ffffff;
  margin-right: 1rem;
  position: absolute;
  right: 0;
  top: 12px;
  overflow: hidden;
}

#algolia-search .ais-SearchBox {
  font-size: 0.75rem;
}

#algolia-search .ais-SearchBox-form {
  height: 1.8rem;
}

#algolia-search .ais-SearchBox-form:before {
  left: 0.5rem;
}

#algolia-search .ais-SearchBox-input {
  padding-left: 2rem;
}

#algolia-search #refinement-list {
  color: var(--midnight-blue);
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--gray);
  flex-direction: column-reverse;
}
#algolia-search #refinement-list .filter-label {
  color: var(--midnight-blue);
  font-size: 0.65rem;
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: -0.25rem;
}
#algolia-search #refinement-list .ais-RefinementList-list {
  display: flex;
  padding: 0.5rem 0 0;
}
#algolia-search
  #refinement-list
  .ais-RefinementList-list
  .ais-RefinementList-item:not(:last-of-type) {
  margin-right: 1rem;
}

#algolia-search #refinement-list .ais-RefinementList-checkbox {
  height: 0.75rem;
  min-width: 0.75rem;
}

#algolia-search #refinement-list .ais-RefinementList-count {
  display: none;
}

#algolia-search #hits a {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #212529;
  padding: 0.5rem;
}
#algolia-search #hits h2 {
  font-size: 0.7rem;
  margin: 0 0 0.25rem;
  color: var(--midnight-blue);
  transition: color 0.125s;
}
#algolia-search #hits p {
  font-size: 0.6rem;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}
#algolia-search #hits .search-breadcrumb {
  color: var(--starlight-blue);
  font-size: 0.5rem;
  font-weight: 500;
  margin-top: 0.25rem;
}
#algolia-search #hits ul {
  margin: 0;
  padding: 0;
}
#algolia-search #hits .hit-item {
  box-shadow: none;
  padding: 0;
  list-style: none;
}
#algolia-search #hits .hit-item:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
#algolia-search #hits .hit-item:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
#algolia-search #hits .hit-item:hover h2 {
  color: var(--starlight-blue);
}
#algolia-search #hits .hit-item .ais-Highlight-highlighted,
#algolia-search #hits .hit-item .ais-Snippet-highlighted {
  font-weight: 700;
  padding: 0;
  background-color: unset;
}
#algolia-search #refinement-list .ais-RefinementList-label {
  margin: 0;
  font-size: 0.65rem;
  line-height: 1;
}
#algolia-search #refinement-list .ais-RefinementList-labelText {
  text-transform: capitalize;
}
#algolia-search #stats {
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}
#algolia-search #stats p {
  margin: 0;
}
#algolia-search #stats .view-more-button {
  background-color: var(--starlight-blue);
  color: #fff;
  font-weight: 500;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  font-size: 0.65rem;
}
.ais-SearchBox-form:before,
.ais-GeoSearch-input:checked,
.ais-RefinementList-item--selected .ais-RefinementList-checkbox {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
#search-results .filter-stats-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
}
#search-results .filter-stats-container h3 {
  margin: 0;
  margin-right: 1rem;
}
#search-results .filter-stats-container .filter-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#search-results .filter-stats-container .filter-options .filter-type-container {
  display: flex;
  align-items: center;
}
#search-results #resultsRefinementList .ais-RefinementList-labelText {
  text-transform: capitalize;
}
#search-results #resultsRefinementList .ais-RefinementList-list {
  display: flex;
  margin: 0;
}
#search-results
  #resultsRefinementList
  .ais-RefinementList-list
  .ais-RefinementList-item {
  margin: 0;
}
#search-results
  #resultsRefinementList
  .ais-RefinementList-list
  .ais-RefinementList-item:not(:last-of-type) {
  margin-right: 1rem;
}
#search-results #resultsRefinementList .ais-RefinementList-count {
  display: none;
}
#search-results .search-results-content #pagination {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
#search-results #resultsHits {
  margin: 0;
  list-style: none;
}
#search-results #resultsHits a {
  display: block;
}
#search-results #resultsHits .hit-item {
  margin: 0;
  padding: 1rem;
}
#search-results #resultsHits .hit-item h2 {
  margin: 0;
  color: var(--midnight-blue);
  transition: color 0.125s;
}
#search-results #resultsHits .hit-item p {
  color: var(--midnight-blue);
}
#search-results #resultsHits .hit-item:hover {
  background-color: rgba(0, 0, 0, 0.015);
}
#search-results #resultsHits .hit-item:hover h2 {
  color: var(--starlight-blue);
}
#search-results #resultsHits .hit-item .ais-Highlight-highlighted,
#search-results #resultsHits .hit-item .ais-Snippet-highlighted {
  background-color: rgba(84, 104, 255, 0.1);
  color: #5468ff;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-shadow: none;
}
#search-results #resultsHits .ais-Hits-list,
#search-results #resultsHits .ais-Hits-item {
  margin: 0;
}
#search-results #resultsHits .ais-Hits-item:not(:last-of-type) a{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#search-results .ais-Pagination-item {
  margin-bottom: 0;
}

@media screen and (max-width: 1220px) {
  #algolia-search {
    width: 240px;
    margin-right: 16px;
    top: 5px;
  }
}

@media screen and (max-width: 600px) {
  #algolia-search {
    position: fixed;
    width: 100%;
    margin-right: 0px;
    top: 60px;
    box-shadow: none;
  }

  #algolia-search .ais-SearchBox-form {
    height: 36px;
  }
}
