/*
Starburst specific overrides

- https://bashtage.github.io/sphinx-material/
- https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/
- https://github.com/squidfunk/mkdocs-material/blob/master/src/assets/stylesheets/main/_colors.scss

*/

:root {
  /* Starburst colors */
  --midnight-blue: #000a2c;
  --midnight-medium: #06184c;
  --midnight-dark: #000925;
  --starlight-blue: #165ff2;
  --starlight-blue-dark: #0b358f;
  --starlight-blue-darker: #072468;
  --teal: #00a7b5;
  --teal-dark: #007c8d;
  --teal-400: #2a375d;
  --lunar-blue: #16dcf2;
  --pink: #b835a1;
  --purple: #8d29b8;
  --white: #fff;
  --gray: #f0f0f0;
  --md-primary-bg-color: var(--midnight-blue);
}
body{
  font-family: 'Barlow', 'Roboto', sans-serif
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
.dropdown{
  --dropdown-shadow-light: rgba(0, 10, 44, 0.12);
  --dropdown-shadow-medium: rgba(0, 10, 44, 0.56);
}

.md-header{
  display: flex;
  flex-direction: row;
  height: 61px;
  align-items: center;
  background-color: var(--midnight-medium);
  font-family: 'Barlow', 'Roboto', sans-serif;
}

.md-header .md-logo{
  margin-right: 5px;
}

.md-header .md-logo img{
  height: 32px;
  margin-top: 3px;
}

.header-divider{
  border-right: 1px solid white;
  height: 24px;
  margin-top: 19px;
  position: absolute;
}

@media screen and (max-width: 1220px) {
  .header-divider{
    display: none;
  }
}

.md-hero{
  background-color: white;
  font-family: 'Barlow', 'Roboto', sans-serif;
}

.md-container{
  padding-top: 61px;
}

.md-tabs{
  height: 34px;
  padding: 4px 16px;
  background-color:  var(--midnight-dark);
  font-family: 'Barlow', 'Roboto', sans-serif;
}

.md-tabs__item {
  height: 0;
  padding: 4px 16px;
}

.md-tabs__link {
  font-weight: 600;
  letter-spacing: 0.005rem;
  color: var(--white);
  opacity: 1;
  margin-top: 0;
}
/* Adds underline to fourth navbar item defined in conf.py */
.md-tabs__item:nth-child(4) {
  padding-bottom: 22px;
  border-bottom: 5px solid #80D3D4;
}

.md-typeset .md-typeset__table {
  display: block;
  margin-bottom: 0.5em;
  padding: 0 0.8rem;
}

.md-typeset table:not([class]) {
  font-size: unset;
}

.md-header-nav__topic{
  font-size: 0.7rem;
  font-style:normal;
  font-weight:600;
  letter-spacing: 0.005rem;
  line-height: 1.2rem;
  margin-left: -3px;
  margin-top: 19px;
}

@media screen and (max-width: 1220px){
  .md-header-nav__topic{
    margin-top: 12px;
  }
}

.dropdownbutton {
  border: 1px solid white;
  border-radius: 3px;
  font-family: 'Barlow', 'Roboto', sans-serif;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  height: 36px;
  letter-spacing: 0.007rem;
  margin-right: 16px;
  width: 140px;
}

.dropdownbutton::after {
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.3em solid;
  content: "";
  display: inline-block;
  margin-left: 5px;
  vertical-align: 2px;
}

.dropdown-content{
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px var(--dropdown-shadow-medium),
    0 2px 10px var(--dropdown-shadow-light);
  box-shadow: 0 2px 5px var(--dropdown-shadow-medium),
    0 2px 10px var(--dropdown-shadow-light);
  padding: 0px 0px 4px;
}

.dropdown-content a {
  color: black;
  padding: 6px 0px;
  width: 150px;
}

code, kbd, pre{
  color: inherit;
}

/* Copy to clipboard button for code blocks */
.o-tooltip--left:after {
  font-size: 0.6rem;
}

.copybtn:hover {
  cursor: copy;
}

.page-footer {
  flex-shrink: 0;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  min-height: 280px;
  background: var(--midnight-blue);
  margin-top: 0;
  align-items: center;
  justify-content: space-evenly;
  font-size: 13px;
  bottom: 0;
  width: 100%;
}

.page-footer .container {
  width: 100%;
}

.page-footer .row {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 414px) {
  .page-footer .row {
    flex-direction: column;
  }
}

.page-footer .col-md-3 {
  flex: 1;
  padding-right: 1rem;
  padding-left: 1rem;
}

.page-footer {
  bottom: 0;
  color: var(--white);
}
.page-footer .container-fluid {
  width: auto;
}
.page-footer .footer-copyright {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
}
.page-footer a {
  color: var(--white);
}
.page-footer ul {
  padding-inline-start: 0px;
}
li.footer-item {
  list-style-type: none;
  line-height: 23px;
}
a.footer-icon {
  color: var(--white);
  font-size: 20px;
  margin: 0px 1rem;
}
a.footer-icon:hover {
  color: var(--teal);
}

/*----- FEEDBACK BLOCK STYLES -----*/
.feedback-container {
  border-left: 0.2rem solid var(--starlight-blue);
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.025);
  position: relative;
  margin-bottom: 2rem;
}

.feedback-container .feedback-thumbs {
  display: flex;
  align-items: center;
  margin: 0.75rem 0;
}

.feedback-container .feedback-thumbs p {
  margin-bottom: 0;
  margin-right: 1rem;
  margin-top: 0;
}

.feedback-container .feedback-thumbs .feedback-option {
  cursor: pointer;
  font-size: 0.85rem;
  transition: color 100ms ease-in-out;
}

.feedback-container .feedback-thumbs .feedback-option:hover {
  color: var(--starlight-blue);
  text-decoration: underline;
}

.feedback-container .feedback-thumbs .feedback-option.active {
  color: var(--starlight-blue);
  text-decoration: underline;
}

.feedback-message {
  display: none;
  align-items: center;
}

.feedback-message textarea {
  width: 320px;
  font-family: 'Barlow', 'Roboto', sans-serif;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin-right: 2rem;
}

.feedback-container a.feedback-skip {
  color: var(--starlight-blue);
  text-decoration: underline;
  margin-left: 1rem;
  cursor: pointer;
}

.feedback-container a.feedback-skip:hover {
  color: hsl(220, 89%, 62%);
}

.feedback-button {
  align-items: flex-start;
  background-color: var(--starlight-blue);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 0.5rem;
  margin: 6px;
  overflow: hidden;
  padding-bottom: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 8px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out;
}

.feedback-button:hover {
  background-color: hsl(220, 89%, 62%);
}

.md-typeset span[id]:target:before {
  display: block;
  margin-top: -32px;
  padding-top: 32px;
  content: '';
}

.md-typeset dl[id]:target:before {
  display: block;
  margin-top: -80px;
  padding-top: 80px;
  content: '';
}

.connector-logo {
  float: right;
  position: relative;
  top: -5.5rem;
}

@media only screen and (min-width: 88.25em) {
  .md-sidebar--secondary {
    margin-left: 72.5rem;
  }
}

.imgborder {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.material-symbols-rounded {
  vertical-align: bottom
}
