.md-header,
.md-tabs,
.md-sidebar,
body > .md-main__inner,
.md-footer,
.page-footer {
  display: none !important;
}

.md-container {
  padding-top: 0 !important;
}

.md-content {
  margin: 0 !important;
}

main.md-main .md-main__inner {
  margin: 0 !important;
  padding: 0 !important;
}

.md-typeset pre {
  margin: 0 !important;
}
